// Colors
$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;

// Fonts
$font-main: 'Arial', sans-serif;
$font-accent: 'Britannic Bold', sans-serif;
$font-secondary: 'Lato', sans-serif;